.play-wrapper {
    min-width: 20em;
    margin: auto;
    padding: .5em 1em .5em 1em;
    border-radius: .5em;
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .playground {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;
    }
    .warning {
        text-align: center;
        font-size: .7em;
        font-style: italic;
        margin-top: 2em;
    }
}